.my_form {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.553);
    padding: 20px;
    width: 300px;
    align-self: center;
  

 }

 h1 {
    text-align:center
  
 }


 label {
    display: flex;
    font-weight: bold;
    margin-bottom: 5px;
 }


 input {
    width: 100%;
    padding: 5px;
    margin-top: 1px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
 }

 .font_style {
    font-family: Arial, Helvetica, sans-serif

 }

 body {
    /* background: linear-gradient(to right, #ffdea8, #fec84e) */
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('https://s1.travix.com/blog/eu/europe-netherlands-tulips-tulipfield-flowers-sunset-medium.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center; Center text horizontally
 }

 .div1 {
    /* לא מבינה למה עושה לי באדום, מה לא בסדר? */
    margin-bottom: 30px;
 }

 button {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    color: #fff;
    border-radius: 5px;
    background-color: #4caf50;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.704);
 }

 button:active {
    background-color: #4caf50;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.562);
 }

 #help{
    size: 15px;
    margin: 20px;
    display: block;
    background-color: rgba(245, 245, 245, 0.908);
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    color: rgb(71 14 250);
 }